<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

<!--Added to provide the ngCordova library for best ionic plugin best practices      -->
    <script src="lib/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
<!--Added to support the pdf generation, note file is a custom build w/ some of my own code SVG pie charts-->
	<script src="lib/pdfmake/pdfmake.min.js"></script>
	<script src="lib/pdfmake/vfs_fonts.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
<!--encapsulates the report feature as a service split into docDef builder and the report gen service-->
    <script src="js/reportBuilderSvc.js"></script>
    <script src="js/reportService.js"></script>
      
  </head>
  <body ng-app="starter">
      
      <ion-view view-title="Ionic-PDF">
      <!-- The nav bar that will be updated as we navigate -->
      <ion-nav-bar class="bar-positive">
          <ion-nav-title>Ionic-PDF</ion-nav-title>
      </ion-nav-bar>
      <ion-content class="padding has-header" ng-controller="MainCtrl">
          <div class="button-bar bar-balanced">
              <a class="button" ng-click="runReport()">Generate</a>
              <a class="button button-assertive" ng-click="clearReport()">Clear</a>
          </div>
<!--iframe used for inline display when using chrome for browser based testing/debugging (not used in app)-->
          <iframe id='pdfImage' src="empty.html"
            style="height:1100px;width:100%;border:navy solid thin;"></iframe>    
      </ion-content>
      </ion-view>

  </body>
</html>
